@value _cell_size: 200px;
@value _large_font: 1.9rem;
@value _med_font: 1rem;
@value _letter_size: 65px;

.VertSpan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.C1 {
    color: #ECCCA8;
}
.C2 {
    color: #7AD3B7;
}
.C3 {
    color: #6CBDC8;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    font-size: _large_font;
}
.App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 600px) 1fr;
    grid-template-rows: 1fr;
}
.ContentColumn {
    height: 100%;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, _cell_size);
    grid-template-rows: repeat(auto-fill, _cell_size);
    margin: 60px 0px;
}
.DateBox {
    composes: VertSpan;
    font-size: _med_font;
}
.TimeBox {
    composes: VertSpan;
    font-size: _med_font;
}
.NameDistSpanTwo, .DateTimeSpanTwo, .NameSpanTwo {
    grid-column: span 2;
    composes: VertSpan;
}
.NameDistSpanTwo>div:nth-child(2) {
    font-size: _med_font;
}
.NameTimeDistSpanThree {
    grid-column: span 3;
    composes: VertSpan;
}
.Term {
    display: flex;
    justify-content: space-between;
}
.Term.SpaceAround {
    justify-content: space-around;
}
.Letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: _letter_size;
    height: _letter_size;
}
.SmallTerm {
    display: flex;
    justify-content: space-between;
    font-size: _med_font;
}
.DayNumber {
    display: flex;
    justify-content: flex-start;
}
.DistRow {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    html, body {
        font-size: 1.6rem;
    }
    .App {
        grid-template-columns: 1fr minmax(0px, 330px) 1fr;
    }
    .ContentColumn {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(auto-fill, 110px);
        margin: 60px 0px;
    }
    .DateBox {
        font-size: 0.8rem;
    }
    .TimeBox {
        font-size: 0.8rem;
    }
    .NameDistSpanTwo>div:nth-child(2) {
        font-size: 0.8rem;
    }
    .Letter {
        width: 40px;
        height: 40px;
    }
}
